.home_page {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 12%;
}

.home_page .button {
    color: white;
    padding-bottom: 3%;
    margin: 3% 1%;
    width: 170px
}

.home_page i {
    padding-top: 20%;
}

.home_page .heading {
    padding-bottom: 3%;
}

.home_page h1 {
    margin-bottom: 2%;
    color: black;
}

.home_page .main {
    padding: 0% 10%;
    padding-right: 5%;
}

.home_page .data {
    padding: 5% 1%;
}

.home_page .non-center {
    text-align: left;
}

.home_page .copy {
    padding: 8% 2%;
}